.counter{
    text-align: center;
    align-items: center;
    font-size: 50px;
}
.button1{
    background-color: green;
    color: white;
    padding: 4px ;
    border: none;
    border-radius: 5px;
    margin: 2px;
   height: 50px;
   width: 50px;

    
}
.button2{
    background-color:red;
    color: white;
    padding: 4px ;
    border: none;
    border-radius: 5px;
    margin: 2px;
    height: 50px;
   width: 50px;
}
.button3{
    background-color:black;
    color: white;
    padding: 4px ;
    border: none;
    border-radius: 5px;
    margin: 2px;
    height: 50px;
    width: 50px;
}